@media (max-width: 559px) {
  header {
    justify-content: center;
  }

  body main {
    margin-bottom: 0;
    padding: 20px;
  }

  .all-container #tools-graphic {
    padding: 0;
  }

  .tools-arista div {
    padding-bottom: 25px;
    border-bottom: 5px dotted #000000b3;
  }

  main #matrix-container {
    gap: 5px;
    flex-wrap: wrap;
    font-size: 12px;
  }
}

@media (max-width: 1700px) {
  html body {
    font-size: 1em;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
  }

  main .all-container {
    width: 100%;
    flex-flow: wrap;
    gap: 20px;
    justify-content: center;
    margin: 0;
  }

  main #graph-container {
    width: 100%;
  }

  main #graph-container svg {
    padding: 10px;
  }

  main .static-archives {
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;
  }

  .info {
    flex-wrap: wrap;
    justify-content: center;
  }

  main .second-container {
    flex-direction: column;
    gap: 40px;
    margin-top: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  font-size: 1em;
}

header {
  background-color: rgba(13, 17, 23, 0.8);
  color: white;
  padding: 30px;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  gap: 30px;
}

h1 {
  font-size: 2.5em;
}

.logo {
  width: 120px;
}

main {
  margin-bottom: 50px;
}

.static-archives {
  display: flex;
  gap: 15px;
  justify-content: end;
  padding: 10px 10px 0px 0px;
  flex-wrap: wrap;
}

.archiveBtn {
  display: none;
}

/* Estilo para el botón personalizado */
.custom-file-input {
  background-color: #000000b3;
  color: #fff;
  padding: 10px 15px;
  border-radius: 16px;
  cursor: pointer;
  box-shadow: inset 1px 1px 0 #ccc, 0 2px 3px rgba(0, 0, 0, .4);
}

.descagarLabel {
  background-color: transparent;
  border: 1px solid #000000b3;
  color: black;
}

/* Cambia el color del botón cuando se pasa el ratón por encima */
.custom-file-input:hover {
  background-color: rgb(161 204 245);
  color: black;
}

/* Cambia el color del botón cuando se hace clic */
.custom-file-input:active {
  background-color: #812c2cb3;
}

.all-container {
  display: flex;
  height: auto;
  margin: 0px 30px 0px 30px;
  justify-content: space-evenly;
  align-items: center;
}

#graph-container {
  /* min-width: 600px; */
  width: 50%;
  min-height: 450px;
  max-height: 600px;
  border: 5px dotted #000000b3;
}

#tools-graphic {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 30px;
}

.info {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
  gap: 20px;
}

.info-box {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-box-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
  gap: 15px;
  border: 1px solid #00000015;
  border-radius: 30px;
  padding: 30px;
  margin-top: 20px;
}

.info-box-content input {
  border: 1px solid #00000026;
  border-radius: 10px;
  width: 100px;
  height: 22px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.info-box-content input:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#info-node-content {
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#info-link-content {
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
}

.botones {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.botones div,
.botones div h2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.tools-arista {
  flex-direction: column;
}

.boton {
  min-width: 250px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  box-shadow: inset 1px 1px 0 #ccc, 0 2px 3px rgba(0, 0, 0, .4);
}

.boton:hover {
  background-color: rgb(230, 230, 230);
  color: black;
}

.nodo {
  background-color: #478f90;
}

.arista {
  background-color: #9c544c;
}

.tooltip {
  position: absolute;
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
  font-size: 14px;
}

.invisible {
  pointer-events: none;
}

.second-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 40px;
}

#matrix-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

#matrix-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* Estilos para la tabla */
table {
  border-collapse: collapse;
  width: 50%;
  margin-bottom: 20px;
  box-shadow: 0 0 20px 0px rgba(13, 17, 23, 0.3);
  border: 2px solid #828282;

}

/* Estilos para las celdas de la tabla */
td {
  /* box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.2); */
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;

  background-color: #fff;
  /* Color de fondo */
  font-size: 16px;
  /* Tamaño de fuente */
  color: #333;
  /* Color de texto */
  transition: background-color 0.3s ease;
  /* Transición suave */
}

th {
  background-color: #828282;
  /* Color de fondo del encabezado */
  color: #fff;
  /* Color de texto del encabezado */
  font-weight: bold;
  /* Negrita del texto del encabezado */
  padding: 6px 8px;
  /* Espaciado dentro de la celda de encabezado */
}

footer {
  padding: 50px;
  background-color: rgb(13, 17, 23);
  color: white;
}

#footer .credit {
  margin: 20px 0;
}

footer>h2 {
  font-size: 2em;
}

.integrantes {
  margin-top: 30px;
  padding-left: 20px;
}

.integrantes>p {
  padding-bottom: 15px;
}

.github {
  display: flex;
  justify-content: flex-end;
}

.github a {
  display: flex;
  gap: 10px;
  align-items: center;
}

footer p a {
  color: wheat;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

footer p a:hover {
  color: white;
  font-weight: 650;

}
