* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

header {
  background-color: #000000b3;
  color: white;
  padding: 30px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo{
  width: 120px;
}

main {
  max-width: 1400px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 80px 0px;
  margin: 0 auto;
}

#graph-container {
  width: 800px;
  height: 600px;
  border: 5px solid #1f1d1d;
  border-radius: 15px;
  margin-bottom: 40px;
}

.botones {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.boton {
  min-width: 300px;
  padding: 20px;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  box-shadow: inset 1px 1px 0 #ccc, 0 2px 3px rgba(0, 0, 0, .4);
}

.nodo{
  background-color: #478f90;
}

.arista{
  background-color: #9c544c;

}

.tooltip {
  position: absolute;
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
  font-size: 14px;
}

.invisible {
  pointer-events: none;
}

footer {
  padding: 50px;
  background-color: #1f1d1d;
  color: white;
  font-size: 22px;
}

#footer .credit {
  margin: 20px 0;
}

footer>h2 {
  font-size: 40px;
}

.integrantes {
  margin-top: 30px;
  padding-left: 20px;
}

.integrantes>p {
  padding-bottom: 15px;
}

footer p a {
  color: wheat;

}